build*
.vscode

*.o
*.mod
*.pvd
*.vtu
*.pyc

# files created by the ffc compiling system
PhysicsSolver/SolidSolver/DiskDriven/ConstituitiveLaw.h
PhysicsSolver/SolidSolver/IdealLeftVentricle/BoundaryConsitions.h
PhysicsSolver/SolidSolver/IdealLeftVentricle/ConstituitiveLaw.h
PhysicsSolver/SolidSolver/ValveProblem/ConstituitiveLaw.h
PhysicsSolver/FluidSolver/PressureUpdate.h
PhysicsSolver/FluidSolver/VelocityUpdate.h
PhysicsSolver/FluidSolver/TentativeVelocity.h
PhysicsSolver/SolidSolver/SolidVariational.h
PhysicsSolver/SolidSolver/RealLeftVentricle/BoundaryConsitions.h
PhysicsSolver/SolidSolver/IdealLeftVentricle/BoundaryConsitions.h
PhysicsSolver/SolidSolver/BarProblem/BoundaryConsitions.h
PhysicsSolver/SolidSolver/BarProblem/ConstituitiveLaw.h
PhysicsSolver/SolidSolver/RealLeftVentricle/ConstituitiveLaw.h
PhysicsSolver/SolidSolver/DiskDriven/EnergyNorm.h
PhysicsSolver/SolidSolver/DiskDriven2D/ConstituitiveLaw.h
PhysicsSolver/SolidSolver/DiskDriven2D/EnergyNorm.h
PhysicsSolver/SolidSolver/FlowPastCylinder2D/ConstituitiveLaw.h
PhysicsSolver/SolidSolver/SquarePoroElast2D/ConstituitiveLaw.h
PhysicsSolver/SolidSolver/SquarePoroElast2D/EnergyNorm.h
PhysicsSolver/SolidSolver/SquarePoroElast2D/addmass_before.h
PhysicsSolver/SolidSolver/SquarePoroElast2D/addmass_end.h
PhysicsSolver/SolidSolver/SquarePoroElast2D/constitutive.h
PhysicsSolver/SolidSolver/SquarePoroElast2D/perfusionpressure.h
PhysicsSolver/SolidSolver/SquarePoroElast2D/perfusionvelocity.h
PhysicsSolver/SolidSolver/SquarePoroElast2D/sink.h
PhysicsSolver/SolidSolver/FlowpushCube2D/ConstituitiveLaw.h



2_dimension*
*.h5
*.xdmf
config.h
PhysicsSolver/SolidSolver/BarBehindCylinder2D/ConstituitiveLaw.h
features/json/json
PhysicsSolver/SolidSolver/DiskDriven3D/ConstituitiveLaw.h
PhysicsSolver/SolidSolver/DiskDriven3D/EnergyNorm.h
PhysicsSolver/SolidSolver/DiskDriven3D/ConstitutiveLaw.h
PhysicsSolver/SolidSolver/BarProblem3D/ConstituitiveLaw.h
PhysicsSolver/SolidSolver/BarProblem3D/ConstitutiveLaw.h
PhysicsSolver/SolidSolver/BarProblem3D/ConstitutiveLawBar.h
PhysicsSolver/SolidSolver/BarProblem3D/EnergyNorm.h
PhysicsSolver/SolidSolver/IdealLeftVentricle/ConstitutiveLawLV.h
PhysicsSolver/SolidSolver/RealLeftVentricle/ConstitutiveLawLV.h
PhysicsSolver/SolidSolver/Ring2D/ConstitutiveLaw.h
PhysicsSolver/SolidSolver/Ring2D/EnergyNorm.h
PhysicsSolver/SolidSolver/RealLeftVentricleSystole/ConstitutiveLawLV.h
PhysicsSolver/SolidSolver/IdealLeftVentricleSystole/ConstitutiveLawLV.h
PhysicsSolver/SolidSolver/IdealLeftVentricleSystole/EnergyNorm.h
PhysicsSolver/SolidSolver/RingElliptic2D/ConstitutiveLaw.h
PhysicsSolver/SolidSolver/RingElliptic2D/EnergyNorm.h

.DS_Store
PhysicsSolver/SolidSolver/RealLeftVentricleSystoleElectricity/ConstitutiveLawLV.h
PhysicsSolver/SolidSolver/IdealLeftVentricle/EnergyNorm.h
PhysicsSolver/SolidSolver/EllipticRing2D/EnergyNorm.h
PhysicsSolver/SolidSolver/RealBiVentricle/ConstitutiveLawLV.h
PhysicsSolver/SolidSolver/RealBiVentricleSystole/ConstitutiveLawLV.h
PhysicsSolver/SolidSolver/RealMitralValve/ConstitutiveLawMV.h
PhysicsSolver/SolidSolver/RealMitralValveDilation/ConstitutiveLawMV.h
PhysicsSolver/SolidSolver/RealLeftVentricleMitralValve/ConstitutiveLawLVMV.h
PhysicsSolver/SolidSolver/CookMembrane3D/ConstitutiveLawCookMembrane.h
PhysicsSolver/SolidSolver/CookMembrane3D/EnergyNorm.h
log
